@font-face {
    font-family: 'Roboto';
    src: url(robotoregular.ttf);
}
@font-face {
    font-family: 'caviar_dreamsregular';
    src: url(CaviarDreams.ttf);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* FIN DU RESET */
body{
    line-height: 1.42857143;
}
header{
    background: url(backgroungtopheader.jpg) no-repeat;
    background-size: 100% 100%;
    background-position: center;
}


.containertopheader{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; 
    width: 1140px;
    text-align: center;
    display: flex;
}

.topheader{
    background: rgba(73, 84, 91, 0.84);
    display: block;
    padding: 3% 0;
    line-height: 1.42857143;
}

.nav{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.nav li{
    padding-top: 0;
    margin: 0 2px;
}

.nav li a{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    background:transparent;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.nav li a:hover{
    color: rgb(75, 202, 255);
    text-transform: uppercase;
    background: white;
    text-decoration: underline;
    padding: 10px 20px;
    transition: background ease-in 0.3s;
}

.logo{
   display: flex;
   justify-content: left;
}

.bottomheader{
    display: block;
    padding: 15% 0;
}

.bottomheader p{
    color:white;
    display: block;
    font-family: 'caviar_dreamsregular', sans-serif;
    font-weight: lighter; 
    line-height: 1.1;
    text-transform: uppercase;
    background:rgba(63, 74, 81, 0.9);
    font-size: 2.7em;
    text-align: center;
    margin-bottom: 2%;
    padding: 8px 0;
}

#p1{
    display: flex;
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
}

#p2{
    display: flex;
    justify-content: center;
    margin-left: 22%;
    margin-right: 22%;
}

.services{
    font-family: 'caviar_dreamsregular', sans-serif;
    background: #4bcaff;
    padding: 6% 0;
    color: white;
    font-size: 15px;
}

.groupeservices{
    width: 1140px;
    font-family: 'caviar_dreamsregular', sans-serif;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.groupeservices h3{
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 500;
}

.bandeserv{
    margin-top: 2px;
    width: 50px;
    height: 2px;
    margin-bottom: 40px;
}

.services .bandeserv{
    background: white;
}

.coffee{
    font-family: 'Roboto';
    padding-right: 15px;
    display: inline-block;
    width: 22%;
}

.logocafe{
    display: inline-block;
    background-size: 100% 100%;
    background-position: center;
}

.instant{
    font-family: 'Roboto';
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    width: 22%;
}

.instant img{
    margin-bottom: -3px;
}


.serious{
    font-family: 'Roboto';
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    width: 22%;
}

.frame{
    font-family: 'Roboto';
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    width: 22%;
}
.groupeservices div h3{
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.portfolio{
    background: white;
    width: 100%;
}

.pfcont{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 6% 0;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1140px;
    font-family: 'caviar_dreamsregular', sans-serif;
    color: black;
    font-size: 15px;
}

.pftitres{
    display: flex;
    flex-direction: row;
}

.pftitres h3 {
    display: flex;
    justify-content: left;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 500;
}

.listepf{
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.listepf li{
    text-transform: uppercase;
    border: solid 2px;
    border-color: white;
    display: flex;
    padding: 10px 25px;
    margin: 0px;
    margin-left: 40px;
}

.listepf li a{
   font-family: 'Roboto';
   font-weight: 600;
   text-decoration: none;
   justify-content: center;
}

.listepf li:hover{
    border: solid 2px;
    border-color: #4bcaff;
}

.grilleimages{
    width: 1140px;
    display: flex;
    margin-top: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grilleimages img{
    margin-bottom: 15px;
}

.portfolio h3{
    display: flex;
    justify-content: left;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 500;
}



.portfolio .bande{
    margin-top: 2px;
    width: 50px;
    height: 2px;
    margin-bottom: 40px;
    background: black;
    display: inline-block;
}

.jds{
    color: white;
    padding: 6% 0;
    background: rgb(81, 95, 103); 
    display: flex;
    flex-direction: column;
}

.jdscont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 15px;
    width: 1140px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}


.jdscont2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: right;
    background: black;
    height: 300px;
    width: 500px;
}

.jdstxt{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    width: 40%;
    /* margin-right: 50%; */
    justify-content: space-around;
}

.jdstxt h3{
    font-family: 'caviar_dreamsregular';
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 500;
}


.jdstxt .bande{
    margin-top: 2px;
    width: 50px;
    height: 2px;
    margin-bottom: 40px;
}

.jdstxt .bande{
    background: white;
}

.jdstxt p{
    font-size: 15px;
    line-height: 1.8em;
    font-family: 'Roboto';
    margin-bottom: 25px;
    font-weight: 200;
}

.jdstxt a{
    color: #353f47;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 0.8em;
    text-decoration: none;
    text-transform: uppercase;
    border: solid 2px;
    border-color: #353f47;
    display: flex;
    padding: 10px 40px;
    margin: 0px;
    margin-right: auto;
}

.jdstxt a:hover{
    background: white;
    color: rgb(75, 202, 255);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 0.8em;
    text-transform: uppercase;
    border: solid 2px;
    border-color: white;
    transition: background ease-in 0.1s;
}

/* WHOIS */

.whois{
    color: white;
    padding: 6% 0;
    background: black;
    background: url(backgroundwhois.png) no-repeat;
    background-size: cover;
    background-position: center; 
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.whoiscontainer{
    padding-left: 15px;
    width: 1140px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.whoiscontainer h3{
    font-family: 'caviar_dreamsregular';
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 500;
    width: 100%;
}
.whoistextes{
    display: flex;
    flex-wrap: wrap;
}
.whoiscontainer .bande{
    display: block;
    margin-top: 2px;
    width: 50px;
    height: 2px;
    margin-bottom: 40px;
    background: white;
}

.whoiscont1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    width: 49%;
}

.whoiscont1 p:first-child{
   margin-bottom: 25px;
}


.whoiscontainer p{
    line-height: 1.8;
    font-family: 'Roboto';
    font-weight: 200;
    margin-right: 30px;
}

.whoiscont2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    width: 49%;
}

.whoiscont2 p:first-child{
    margin-bottom: 25px;
 }

.logojohndoe img{
    border: solid 2px;
    border-color: white;
    margin-right: 20px;
    padding: 18px;
 }

 .logojohndoe img:hover{
    border: solid 2px;
    border-color: #00B3FD;
    margin-right: 20px;
    padding: 18px;
    background-color: #4BCAFF;
 }

/* CONTACT */

 .contact{
    color: white;
    padding: 6% 0;
    background: grey;    
    /* background: url(backgroundcontact.png) no-repeat; */
    background-size: 100% 100%;
    background-position: center; 
    display: flex;
    flex-direction: column;
    font-size: 15px;
 }

 .contactcont{
    padding-left: 15px;
    width: 1140px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
 }

 .contactcont p{
    line-height: 1.8;
    font-family: 'Roboto';
    font-weight: 200;
}

.contactcont h3{
    font-family: 'caviar_dreamsregular';
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 500;
    width: 100%;
}

.contactcont .bande{
    display: block;
    margin-top: 2px;
    width: 50px;
    height: 2px;
    margin-bottom: 40px;
    background: white;
}

.contacttextes{
    display: flex;
    flex-wrap: wrap;
}

.contactcol1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    width: 40%;
    margin-right: 9%;
    margin-top: -15px;
}

.contactcol1 input{
    padding: 15px;
    background: none;
    border: solid 2px;
    border-color: white;
}

.contactcol1 p{
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 700;
}

.contactcol2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    width: 49%;
}

.contactcol2 p:first-child {
    margin-bottom: 25px;
}

#leclassedusiecle{
    font-family: 'Roboto';
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 700;
}

.footer{
    background: #353f47;
    padding: 6% 0;
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.footercontainer{
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.footerlinks > li {
    display: inline;
}

.footercolor{
    justify-content: center;
    font-size: 0.85em;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: #536169;
}

.footerbarre{
    color: #536169;
    font-size: 0.85em;
    font-weight: 500;
    margin-left: 2px;
    margin-right: 2px;
}

.footerlinks{
width: 50%;
list-style: none;
display:inline-block;


}

.pfooter{
    width: 49%;
    display: inline-block;
    text-align: right;
    color: #536169;
    font-size: 0.85em;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
   
}

.w3layouts{
    color:white;
}

.boutontop{
    position: sticky;
    padding-left: 10px;
    bottom: 10px;
    left: 96%;
}

.boutontop img{
    padding-right: 10px;
}

.footer a{
    font-family: 'Roboto';
    font-weight: 600;
}

.footer p{
    font-family: 'Roboto';
}

